<h2 align='center'>Assignments</h2>

Now that we have introduced some tools for describing populations, let's try them out. First do these drills by hand, then use the Python code we've provided in the previous assignments to check your work. Keep track of your work in a Google document or markdown file that you can submit below and share with your mentor.

 1. Greg was 14, Marcia was 12, Peter was 11, Jan was 10, Bobby was 8, and Cindy was 6 when they started playing the Brady kids on The Brady Bunch.  Cousin Oliver was 8 years old when he joined the show. What are the mean, median, and mode of the kids' ages when they first appeared on the show? What are the variance, standard deviation, and standard error?
 2. Using these estimates, if you had to choose only one estimate of central tendency and one estimate of variance to describe the data, which would you pick and why?
 3. Next, Cindy has a birthday. Update your estimates- what changed, and what didn't?
 4. Nobody likes Cousin Oliver. Maybe the network should have used an even younger actor. Replace Cousin Oliver with 1-year-old Jessica, then recalculate again.  Does this change your choice of central tendency or variance estimation methods?
 5. On the 50th anniversary of The Brady Bunch, four different magazines asked their readers whether they were fans of the show.  The answers were:
    TV Guide            20% fans
    Entertainment Weekly    23% fans
    Pop Culture Today       17% fans
    SciPhi Phanatic     5% fans

 Based on these numbers, what percentage of adult Americans would you estimate were Brady Bunch fans on the 50th anniversary of the show?

Discuss your answer to each of these questions, along with your code, with your mentor.

When you've given it a try, you can find a solution [here](https://github.com/Thinkful-Ed/data-201-resources/blob/master/solutions/Prep%20course/3.1.4.ipynb).

<h2 align='center'>Question #1</h2>

In [1]:
import numpy as np
import pandas as pd
import statistics as stat

In [2]:
names = ['Greg', 'Marcia', 'Peter', 'Jan', 'Bobby', 'Cindy', 'Oliver']
ages = [14, 12, 11, 10, 8, 6, 8]

In [3]:
data = {'Name': names, 'Age': ages}

In [4]:
df = pd.DataFrame(data)

In [5]:
df

     Name  Age
0    Greg   14
1  Marcia   12
2   Peter   11
3     Jan   10
4   Bobby    8
5   Cindy    6
6  Oliver    8

In [6]:
def summary_stats(df_column):
    mean = df_column.mean()
    median = df_column.median()
    try:
        mode = stat.mode(df_column)
    except:
        mode = 'No Mode'
    var = df_column.var(ddof=0)
    std = df_column.std(ddof=0)
    sem = df_column.sem(ddof=0)
    stat_labels = ['Mean', 'Median', 'Mode', 'Variance', 'Standard Deviation', 'Standard Error']
    stat_values = [mean, median, mode, var, std, sem]
    stat_overview = pd.DataFrame(stat_values, index=stat_labels)
    print(stat_overview)

In [7]:
summary_stats(df.Age)

                            0
Mean                 9.857143
Median              10.000000
Mode                 8.000000
Variance             6.408163
Standard Deviation   2.531435
Standard Error       0.956793

<h2 align='center'>Question #2</h2>

In this first instance, I would probably go with the mean and standard deviation as there are no massive outliers and the standard error shows our mean can't be too far off. Median may work better as measure of central tendency simply because we are dealing with age and whole numbers, but mean likely has more usefulness.

<h2 align='center'>Question #3</h2>

In [8]:
df.loc[5, 'Age'] = 7

In [9]:
df

     Name  Age
0    Greg   14
1  Marcia   12
2   Peter   11
3     Jan   10
4   Bobby    8
5   Cindy    7
6  Oliver    8

In [10]:
summary_stats(df.Age)

                            0
Mean                10.000000
Median              10.000000
Mode                 8.000000
Variance             5.428571
Standard Deviation   2.329929
Standard Error       0.880631

Median and mode stayed exactly the same. The mean, variance, standard deviation and standard error all became more centralized around the mean (since our lowest value got closer to the original mean), but stayed very close to where it was originally.

<h2 align='center'>Question #4</h2>

In [11]:
df.loc[6] = ['Jessica', 1]

In [12]:
df

      Name  Age
0     Greg   14
1   Marcia   12
2    Peter   11
3      Jan   10
4    Bobby    8
5    Cindy    7
6  Jessica    1

In [13]:
summary_stats(df.Age)

                          0
Mean                      9
Median                   10
Mode                No Mode
Variance            15.4286
Standard Deviation  3.92792
Standard Error      1.48461

Median may become the best choice for central tendancy, but our confidence in the mean is still relatively good. The year old Jessica is definitely an outlier as our variance is much higher than the other sets. But I would probably work with the median and standard deviation still in this case.

<h2 align='center'>Question #5</h2>

In [14]:
brady = pd.DataFrame([['TV Guide', .20],
                     ['Entertainment Weekly', .23],
                     ['Pop Culture Today', .17],
                     ['SciPhi Phanatic', .05]],
                        columns=['Magazine', 'Fans'])

In [15]:
brady

               Magazine  Fans
0              TV Guide  0.20
1  Entertainment Weekly  0.23
2     Pop Culture Today  0.17
3       SciPhi Phanatic  0.05

In [16]:
summary_stats(brady.Fans)

                             0
Mean                    0.1625
Median                   0.185
Mode                   No Mode
Variance            0.00466875
Standard Deviation   0.0683283
Standard Error       0.0341641

Looking at this, the best measure of central tendancy may be median because of the outlier; it also falls within our margin for error. So I would probably choose the median in this case. But I'm not sure how useful that actually is to describe the data.

<h2 align='center'>Final Thoughts</h2>

This assignment went pretty well, I was able to quickly find help when I needed it, usually from the documentation and through a combination of Google and Stack Overflow. I was able to create a function to help speed up the process of finding the statistics relevant to this assignment. I had to tinker with it to make it work for question 5 as well, but all that took was a simple find and replace. I feel pretty good with this stuff, but am not exactly sure what criteria I should be following in order to "pick" the correct measure of central tendancy and variability. I figure the mean and standard deviation will be the most useful almost all the time. I wonder if that is the case.

But yeah, fun little assignment.