## Assignments

To help you find your bearings with regard to t-tests, calculate the t-values for the following numbers:

1. $\bar{y_1}= 5$, $\bar{y_2}= 8$, $s_1= 1$, $s_2= 3$, $N_1= 200$, $N_2= 500$
2. $\bar{y_1}= 1090$, $\bar{y_2}= 999$, $s_1= 400$, $s_2= 30$, $N_1= 900$, $N_2= 100$
3. $\bar{y_1}= 45$, $\bar{y_2}= 40$, $s_1= 45$, $s_2= 40$, $N_1= 2000$, $N_2= 2000$

In [1]:
import numpy as np

In [2]:
def t_value(ct1, ct2, std1, std2, n1, n2):
    ct_diff = ct1-ct2
    var_ss = np.sqrt((std1**2/n1)+(std2**2/n2))
    return print('The T-value is {}'.format(np.abs(ct_diff/var_ss)))

#### 1. $\bar{y_1}= 5$, $\bar{y_2}= 8$, $s_1= 1$, $s_2= 3$, $N_1= 200$, $N_2= 500$

In [3]:
t_value(5,8,1,3,200,500)

The T-value is 19.78141420187361

#### 2. $\bar{y_1}= 1090$, $\bar{y_2}= 999$, $s_1= 400$, $s_2= 30$, $N_1= 900$, $N_2= 100$

In [4]:
t_value(1090,999,400,30,900,100)

The T-value is 6.658536585365854

#### 3. $\bar{y_1}= 45$, $\bar{y_2}= 40$, $s_1= 45$, $s_2= 40$, $N_1= 2000$, $N_2= 2000$

In [5]:
t_value(45,40,45,40,2000,2000)

The T-value is 3.7139067635410377